body{
    background-color: rgb(80, 124, 124);
    margin-bottom: 500px;
}

#event-description {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/capa2.png");
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  .btn-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
  }
